*
!*/
#  ────────────────────────────────────────────────────────────────────
!/assets/**
#  ────────────────────────────────────────────────────────────
!/*/Dockerfile
#  ────────────────────────────────────────────────────────────────────
!/**/.gitkeep
#  ────────────────────────────────────────────────────────────────────
!/.cspell/*.txt
#  ────────────────────────────────────────────────────────────
!/.vscode/**
!/.devcontainer/**
#  ────────────────────────────────────────────────────────────
!/.github/CODEOWNERS
!/.github/ISSUE_TEMPLATE/
!/.github/ISSUE_TEMPLATE/*.md
!/.github/ISSUE_TEMPLATES/*.yml
!/.github/workflows/
!/.github/workflows/*.yml
#  ────────────────────────────────────────────────────────────────────
!/.gitpod.yml
!/.gp
!/.gp/*
#  ────────────────────────────────────────────────────────────────────
!/.checkov.yaml
#  ────────────────────────────────────────────────────────────────────
!/tasks/
!/tasks/**/*.yaml
!/Taskfile.yaml
#  ────────────────────────────────────────────────────────────────────
!/vendir.yml
#  ────────────────────────────────────────────────────────────────────
!/.editorconfig
!/.gitignore
!/.dockerignore
!/.gitlint
!/cspell.config.yaml
!/.markdownlintignore
!/.stignore
!/.versionrc
!/.pre-commit-config.yaml
!/.github-labels.json
#  ────────────────────────────────────────────────────────────
!/LICENSE
!/README.md
!/commitlint.config.js
!/Justfile
!/Makefile
!/Vagrantfile
!/build.sh
!/docker-bake.hcl
!/CONTRIBUTING.md
!/CHANGELOG.md
